.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
build
android/.gradle
android/app/build
ios/Pods
ios/.symlinks
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/flutter/ephemeral
.git
.idea
.vscode